<div class="jumbotron card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);>
  <div class="container">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">explore the best accommodations</p>
  </div>
</div>